.button
{
-fx-background-color : transparent;
-fx-text-fill : #e7e5e5;
}
#mainwin{
    -fx-background-radius:25;
    -fx-background-color : #212020;
}
#export-btn{
-fx-background-color :  linear-gradient( rgba(80, 191, 162, 0.85) 0%, rgba(14, 51, 41, 0.85) 100%);
}

#scrape-btn{
    -fx-background-color : linear-gradient(rgba(255, 131, 112, 0.85) 0%, rgba(136, 44, 29, 0.85) 100%);
}


#side-panel{
    -fx-background-color : linear-gradient( #50BFA2 0%, #0E3329 100%);
}
#trans-box{
    -fx-background-color:  rgba(238, 239, 239, 0.1);
}


.button:hover, #scrape-btn:hover, #export-btn:hover{
-fx-background-color : #3f9680;
-fx-background-radius: 40;
}
.button:pressed
{
-fx-background-color : #225045;
}
#scrape-btn:pressed,#export-btn:pressed{
    -fx-background-color : #225045;

}